[submodule "fish/completions/argc-completions"]
	path = fish/completions/argc-completions
	url = https://github.com/sigoden/argc-completions
[submodule "tmux/.tmux"]
	path = tmux/.tmux
	url = https://github.com/gpakosz/.tmux
[submodule "bash/ble.sh"]
	path = bash/ble.sh
	url = https://github.com/akinomyoga/ble.sh
[submodule "bash/bash-wakatime"]
	path = bash/bash-wakatime
	url = https://github.com/irondoge/bash-wakatime
