megalinter-reports/

# Created by https://www.toptal.com/developers/gitignore/api/fish
# Edit at https://www.toptal.com/developers/gitignore?templates=fish

### Fish ###
fish/fishd.*
fish/fish_history
fish/config.local.fish

# End of https://www.toptal.com/developers/gitignore/api/fish

# Created by https://www.toptal.com/developers/gitignore/api/zsh
# Edit at https://www.toptal.com/developers/gitignore?templates=zsh

### Zsh ###
# Zsh compiled script + zrecompile backup
zsh/*.zwc
zsh/*.zwc.old

# Zsh completion-optimization dumpfile
zsh/*zcompdump*

# Zsh history
zsh/.zsh_history

# Zsh sessions
zsh/.zsh_sessions

# Zsh zcalc history
zsh/.zcalc_history

# A popular plugin manager's files
zsh/._zinit
zsh/.zinit_lstupd

# zdharma/zshelldoc tool's files
zsh/zsdoc/data

# robbyrussell/oh-my-zsh/plugins/per-directory-history plugin's files
# (when set-up to store the history in the local directory)
zsh/.directory_history

# MichaelAquilina/zsh-autoswitch-virtualenv plugin's files
# (for Zsh plugins using Python)
zsh/.venv

# Zunit tests' output for zsh directory
/zsh/_output/*
!/zsh/_output/.gitkeep

# End of https://www.toptal.com/developers/gitignore/api/zsh

# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode

# Created by https://www.toptal.com/developers/gitignore/api/linux
# Edit at https://www.toptal.com/developers/gitignore?templates=linux

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

# End of https://www.toptal.com/developers/gitignore/api/linux

