[submodule "fish/completions/argc-completions"]
	path = fish/completions/argc-completions
	url = https://github.com/sigoden/argc-completions
[submodule "tmux/.tmux"]
	path = tmux/.tmux
	url = https://github.com/gpakosz/.tmux
[submodule "bash/ble.sh"]
	path = bash/ble.sh
	url = https://github.com/akinomyoga/ble.sh
[submodule "bash/bash-wakatime"]
	path = bash/bash-wakatime
	url = https://github.com/irondoge/bash-wakatime
[submodule "vim/SpaceVim"]
	path = vim/SpaceVim
	url = https://github.com/SpaceVim/SpaceVim
[submodule "vim/NvChad"]
	path = vim/NvChad
	url = https://github.com/NvChad/NvChad
[submodule "vim/LazyVim"]
	path = vim/LazyVim
	url = https://github.com/LazyVim/LazyVim
[submodule "vim/TeVim"]
	path = vim/TeVim
	url = https://github.com/sownteedev/TeVim
[submodule "vim/LunarVim"]
	path = vim/LunarVim
	url = https://github.com/LunarVim/LunarVim
[submodule "vim/AstroNvim"]
	path = vim/AstroNvim
	url = https://github.com/AstroNvim/AstroNvim
[submodule "emacs/doomemacs"]
	path = emacs/doomemacs
	url = https://github.com/doomemacs/doomemacs
[submodule "emacs/spacemacs"]
	path = emacs/spacemacs
	url = https://github.com/syl20bnr/spacemacs
[submodule "emacs/centauremacs"]
	path = emacs/centauremacs
	url = https://github.com/seagle0128/.emacs.d
