[submodule "fish/completions/argc-completions"]
	path = fish/completions/argc-completions
	url = https://github.com/sigoden/argc-completions
[submodule "tmux/.tmux"]
	path = tmux/.tmux
	url = https://github.com/gpakosz/.tmux
